.avatar{
    max-width:140px;
    max-height:140px;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    }
    
.contact_icon{
        background-color: white;
        border-radius: 100%;
        padding:8px;
        color:black;
        margin-right:1rem;
    
    }
    