
.main{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.left{
    background-color: #36586d;
    color:#f6f5f4;
    padding-left: 3rem!important;
}

.right{
    padding-left: 3rem!important;
}

.avatar{
max-width:140px;
max-height:140px;
margin-bottom: 2rem;
}

.contact_icon{
    background-color: white;
    border-radius: 100%;
    padding:8px;
    color:black;
    margin-right:1rem;

}

.section_title{
    text-transform: uppercase;
    text-align: left;
    padding-top:1.5rem;
}

.section{
    display: flex;
    flex-direction: column;
 
    /* padding-left:4rem; */
}

.section p{
    display:flex;
    align-items: center;

}

.section_skills li{
list-style: none;
text-align: left;
}

.section_heading{
    text-align: left;
}

.section_heading h1{
    letter-spacing: .5rem;
    font-weight: 700;
    color:#044962;
    color:#808f87;
    color:#5a7684;
}

.section_heading h5{
    color:#6d8c9c
}

.section_heading p{
    color:#6d8c9c
}

.right{
    background-color: #f1f3f9;

}
